.repl_history
build
tags
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj

app/testflight_launcher.rb
vendor/TestFlight
vendor/bundle
config.yml
.bundle
